<?php

return [
    // Development time modules
    'modules' => [
        'Zend\Mvc\Plugin\FilePrg',
        'Zend\Mvc\Plugin\FlashMessenger',
        'Zend\Mvc\Plugin\Identity',
        'Zend\Mvc\Plugin\Prg',
        'Zend\Session',
        'Zend\Navigation',
        'Zend\Cache',
        'Zend\Form',
        'Zend\InputFilter',
        'Zend\Filter',
        'Zend\Paginator',
        'Zend\Hydrator',
        'Zend\Router',
        'Zend\Db',
        'Zend\Mail',
        'Zend\Validator',
        'Zend\I18n',
        'ZendDeveloperTools',
        'SanSessionToolbar',
        //    'EdpSuperluminal'
        'DoctrineModule',
        'DoctrineORMModule',
//        'ZendOutPress',
        'User'
    ],

    'module_listener_options' => [
        // Turn off caching
        'config_cache_enabled' => false,
        'module_map_cache_enabled' => false,
    ],
];
